<!doctype html>
<html>
<head>


  <title>mriehl.github.io</title>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>


<div class="container">
    <div class="navbar">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">mriehl.github.io</a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/blog/">Blog</a></li>
              <li><a href="http://osrc.dfm.io/mriehl">OSRC</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects/Contributions<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a target=_blank href="http://github.com/mriehl?tab=repositories">Personal projects</a></li>
                  <li><a target=_blank href="http://github.com/yadt">Yadt</a></li>
                  <li><a target=_blank href="http://github.com/pybuilder">Pybuilder</a></li>
                  <li><a target=_blank href="http://github.com/ImmobilienScout24/livestatus_service">Livestatus-service</a></li>
                </ul>
              </li>
              <li><a href="mailto:maximilien.riehl@gmail.com" target="_top">Contact me</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li><a href="/legals/">Legals</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
   </div>
</div>

<div class="container">
{{ content }}
</div>

<footer>

<div id="footer">
  <div class="container">
    <hr>
    <div style="text-align:center;">
      <iframe src="http://ghbtns.com/github-btn.html?user=mriehl&type=follow&size=large&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="200" height="30"></iframe>
    </div>
    <hr>
    <p class="text-muted credit">
      &copy; Copyright 2013 Maximilien Riehl
    </p>
  </div>
</div>

</footer>
</body>
</html>
