---
layout: default
---

<ul class="pager">
    {% if page.previous.url %}
          <li class="previous"><a href="{{page.previous.url}}"><span class="glyphicon glyphicon-arrow-left"></span> Previous post ({{page.previous.title}})</a></li>
    {% endif %}
    {% if page.next.url %}
        <li class="next"><a href="{{page.next.url}}">Next post ({{page.next.title}}) <span class="glyphicon glyphicon-arrow-right"></span></a></li>
    {% endif %}
</ul>

{{ content }}

<hr style="margin-top: 10%">

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_identifier = function(text){
        text = text.replace(/[^a-zA-Z0-9\s]/g,"");
        text = text.toLowerCase();
        return text.replace(/\s/g,'-');
    }('{{page.title}}');
    var disqus_shortname = 'mriehlgithubio';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
